<% content_for :title do %>Home | Pé na estrada<% end %>
<div class="jumbotron">
  <div class="container">
    <h1> <%= t('Seja Bem Vindo')%> </h1>
    <p class="lead">
    <p> <%= t('O Pé Na Estrada foi desenvolvido com o intuito de')%> 
    <%= t('disponibilizar informaçõessobre os acidentes ocorridos nas')%>
    <%= t('rodovias federais de acordo  com os dados disponibilizados pela')%>
    <%= t('pRF')%></p>
     
    </p>
  </div>
</div>

<div class="container white_cont">
  <div class="container-fluid">
    <div class="row">
      <div class="span10">

        <table align="center" style="width:900px ">
          <tr>
          <br>
            <td>
              <p class="fa fa-search fa-5x"></p>
            </td>
            <td>
             <%= t('Pesquise Por Informações Sobre Uma Rodovia Federal')%>
            </td>
            <td>
              <p class="fa fa-car fa-5x"></p>
            </td>
            <td>
        <%= t('trace rotas para sua viagem.')%>
          <%= t('Visualize os acidentes que')%>
        <%= t('ocorreram nas rotas e escolha')%>
            <%= t('uma rota mais segura.')%>
            <br><br><br>
            </td>
          </tr>

          <tr>
            <td>
              <p class="fa fa-comments-o fa-5x"></p>
            </td>
            <td>
              <big>
              <%= t('Compartilhe com os outros usuários informações sobre uma rodovia')%>
              <br><br><br>
            </td>

            <td>
              <p class="fa fa-sort-numeric-asc fa-5x"></p>
            </td>
            <td>
              <big> 
              <%= t('Acompanhe a classificação de cada rodovia em relação aos acidentes')%>
              <br><br><br>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
