<div id="about">
  <br>
  <%= t('Aplicação desenvolvida por alunos da Universidade de Brasília')%>, 
  <%= t('dentro das disciplinas de “Métodos de Desenvolvimento de Software”')%>
  <%= t('e “Gestão de Portfólios e Projetos”')%>, 
  <%= t('sob a supervisão do professor Hilmer Rodrigues Neri e de monitores')%>
  <%= t('de ambas as disciplinas')%>.
  <br>
  <br>
  <br>
  <%= t('Componentes da equipe')%>:
  <br>
  <br>
  Emilie Morais<br>
  Hugo Martins<br>
  Italo Paiva<br>
  Leonardo Cambraia<br>
  Tiago Assunção<br>
  Filipe Feitosa<br>
  Henrique Augusto<br>
  Rodrigo Gonçalves<br>
  Wilker Mesquita<br>
</div>