<!-- Show the page of the highway clicked-->
<div class="row">

  <div class="col-lg-4">
    <!-- Form to make a comment of a highway-->
    <div id = "comment_form">
      <h7><i class="fa fa-comments-o"></i>
        <%= t('Deixe aqui seu comentário sobre essa rodovia')%>
      </h7>
    <%= form_for([@HIGHWAY, @COMMENT]) do |f| %>

      <%= f.text_field :title,
                      placeholder: t('Título'),
                      required: true,
                      :pattern => '[a-zA-Z0-9 /\ãáàâéêíôóõúç~-,.:;ÃÁÀÂÉÊÍÔÓÕÚÇ]+' %><br />
      <%= f.text_area :text,
                      placeholder: t('Comentário'),
                      required: true,
                      :pattern => '[a-zA-Z0-9 /\ãáàâéêíôóõúç~-,.:;ÃÁÀÂÉÊÍÔÓÕÚÇ]+'%><br />

      <%= f.hidden_field :idBr, value: @HIGHWAY.idBr %>

      <%= f.submit t('Comentar'), :class => "btn btn-default"%>
    <% end %>

    </div>
  </div>

  <div class="col-lg-8" id="highway_info_comment">
    <div class="row">
      <div id = "highway" class="page-header" align="center" >
            <% if @HIGHWAY.idBr.length == 2%>
              <b><%=t('Rodovia')%>0<%= @HIGHWAY.idBr%></b>
            <% else %>
              <b><%=t('Rodovia')%><%= @HIGHWAY.idBr%></b>
            <% end %>

      </div>
    </div>

    <div class="row">
      <div class="panel panel-success">
        <table class="table table-hover" align="left">
          <tr>
            <td style="text-align: center;"><b>
                <%= t('Extensão da rodovia')%></b></td>
            <td></td>
            <td style="text-align: center;">
              <% if @HIGHWAY.mileage.blank? == false %>
                <%= "#{@HIGHWAY.mileage} Km" %>
              <% else %>
                <%= t('Sem informações no momento') %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;"><b><%= t('Posição no ranking') %></b></td>
            <td></td>
            <td style="text-align: center;">
              <%= "#{@HIGHWAY.rankingPosition}º" %>
            </td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>

<br><br>

<div class="row">

  <div class="col-lg-12">
    <div id = "comment">
      <!-- Mostrando os comentários da rodovia -->
      <% if( !@COMMENTS.empty? ) %>
      <% @COMMENTS.each do |comment| %>
        <div class="panel panel-success"  id = "comment_panel">
          <div class="panel-heading" style="color:#fff;">
            <%= comment.title %>
          </div>
          <div class="panel-body">
            <%= comment.text %>
            <div  align="left">
              <br>
              <i>
              <%= t('Comentário realizado em') #{I18n.l comment.created_at, :format => :custom1, :locale => 'pt-br'}" %>
              </i>
            </div>
          </div>
        </div>
        <% end %>
      <% else %>
        <br><br><br>
        <div id="comment_panel" class="alert alert-success" role="alert" style="text-align: center;">
              <%= t('Ainda não há nenhum comentário sobre essa rodovia.')%>
        </div>
      <%end%>
    </div>
  </div>

</div>
